@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap'); */


/* .gothic-font {
  font-family: 'UnifrakturCook', 'Old English Text MT', 'Georgia', serif;
} */

.gothic-font {
  font-family: 'UnifrakturCook', 'Old English Text MT', 'Georgia', serif;

}


:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

.bg-agri-green-medium-light-bg { background-color: #e6f0e7; } 
.bg-agri-orange-harvest-light-bg { background-color: #fff3e0; } 
.bg-agri-sky-blue-light-bg { background-color: #e1f5fe; }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #c084fc; 
  border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.3s ease-out forwards;
}